* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cf::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

body {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400; }
